
<div class="main">

  <div class="signup">
    <h2>signup</h2>
    <%= form_tag("/signup") do %>
      <ul>
        <li>email</li>
        <input type="text" name="email" >
        <li>password</li>
        <input type="password" name="password">
        <br><input type="submit" value="signup" align="bottom">
      </ul>


    <% end %>

  </div>
</div>
